{% extends "FOSUserBundle::layout.html.twig" %}

{% form_theme form _self %}

{% block vich_image_widget %}
    {% spaceless %}
        {% if form.delete is defined %}
            {{ form_row(form.delete) }}
        {% endif %}

        {% if image_uri %}
            <a href="{{ image_uri }}"><img src="{{ image_uri }}" class="rounded" width="200" height="200"></a>
        {% endif %}
        {% if download_uri %}
            <a href="{{ download_uri }}">{{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}</a>
        {% endif %}
        {{ form_widget(form.file) }}
    {% endspaceless %}
{% endblock %}

{% block title 'Профиль' %}

{% block fos_user_content %}
    {{ form_start(form, { 'action': path('app_user_profile') }) }}
        <div class="row">
            <div class="col">
                {{ form_row(form.email) }}
                {{ form_row(form.name) }}
            </div>
            <div class="col">
                {{ form_widget(form.avatar) }}
            </div>
        </div>
        <input type="submit" class="btn btn-success active" value="Сохранить">
    {{ form_end(form) }}
{% endblock fos_user_content %}
