{% extends "FOSUserBundle::layout.html.twig" %}

{% block title 'Профиль' %}

{% block fos_user_content %}
    {{ form_start(form, { 'action': path('app_user_profile') }) }}
        <div class="row">
            <div class="col">
                {{ form_row(form.email) }}
                {{ form_row(form.name) }}
            </div>
            <div class="col">
                {{ form_row(form.avatar) }}
            </div>
        </div>
        <input type="submit" class="btn btn-success" value="Сохранить">
    {{ form_end(form) }}
{% endblock fos_user_content %}
