{% extends "@FOSUser/layout.html.twig" %}

{% block title 'Авторизация' %}

{% block fos_user_content %}
    <form class="form container" action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <h2>Вход</h2>
        <div class="form-group">
            <label for="email" class="control-label required">E-mail*</label>
            <input class="form-control" id="email" type="text" name="_username" placeholder="Введите e-mail" value="{{ last_username }}" required>
            {% if error %}
                <span>{{ error.messageKey|trans(error.messageData, 'security') }}</span>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="password" class="control-label required">Пароль*</label>
            <input class="form-control" id="password" type="password" name="_password" placeholder="Введите пароль" required>
            {% if error %}
                <span>{{ error.messageKey|trans(error.messageData, 'security') }}</span>
            {% endif %}
        </div>
        <button type="submit" name="_submit" class="button">Войти</button>
    </form>
{% endblock fos_user_content %}
